<header-component username="username" on-logout="logout()"></header-component>

<div class="container">
  <h1>{{ title }}</h1>

  <div class="row">
    <div class="col-md-6">
      <p>Number of Users: {{ statistics.users }}</p>
      <p>Number of Sales: {{ statistics.sales }}</p>

      <!-- Reusable Toggle Component -->
      <toggle-component
        label="Show Total Revenue"
        is-checked="showRevenue"
        on-toggle="handleToggle(isChecked)"
      >
      </toggle-component>

      <!-- Conditional Display of Total Revenue with ngAnimate -->
      <p class="revenue" ng-if="showRevenue">
        Total Revenue: ${{ statistics.revenue }}
      </p>
    </div>
    <div class="col-md-6">
      <div class="chart-container">
        <canvas
          id="bar"
          class="chart chart-line"
          chart-data="data"
          chart-labels="labels"
          chart-series="series"
          chart-click="onClick"
          chart-options="options"
        >
        </canvas>
      </div>
    </div>
  </div>
</div>
