<app-header></app-header>

<div class="statistics-container">
  <div>
    <h2>Statistics</h2>
    <div class="statistics-main">
      <div class="statistics-aside">
        <div *ngIf="statistics.sales">
          <p>Total Users: {{ statistics.sales }}</p>
        </div>

        <div *ngIf="statistics.users">
          <p>Total Sales: {{ statistics.users }}</p>
        </div>

        <app-toggle
          label="Show Total Revenue"
          [isChecked]="showRevenue"
          (onToggle)="handleToggle($event)"
        >
        </app-toggle>

        <div *ngIf="statistics.revenue && showRevenue">
          <p>Total Revenue: {{ statistics.revenue }}</p>
        </div>
      </div>

      <div class="statistics-content">
        <div class="statistics-chart-container">
          <canvas baseChart [type]="'line'" [data]="data" [options]="options">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
