.statistics-container {
    width: 1160px;
    margin: 0 auto;
}

.statistics {
 &-main {
    display: flex;
 }

 &-aside {
    margin-right: 30px;
    width: 320px;
 }
 &-content {
    width: 100%;
 }
}

.statistics-chart-container {
    width: 650px;
    height: 400px;
}