<app-header></app-header>

<div class="container">
  <h1>{{ title }}</h1>
  <button mat-raised-button color="primary" (click)="openCreateCustomerModal()">Add New Customer</button>
  <h3>Software Categories</h3>
  <div class="customers-main">
    <div class="customers-aside">

      <app-tree [categories]="categories"></app-tree>

    </div>
    <div class="customers-content">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let customer of customers" [expanded]="customer === newlyAddedCustomer">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ customer.name }}
            </mat-panel-title>
            <mat-panel-description>
              Age: {{ customer.age }} | City: {{ customer.city }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <p>Additional Information about {{ customer.name }}</p>
            <!-- Add more content here if needed -->
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
