<div ui-tree>
  <ol ui-tree-nodes ng-model="$ctrl.categories">
    <li ng-repeat="node in $ctrl.categories" ui-tree-node>
      <div class="tree-node">
        <!-- Toggle Button -->
        <a ng-click="$ctrl.toggle(node, $event)" class="btn btn-xs btn-default">
          <i class="glyphicon" ng-class="{'glyphicon-chevron-right': node.collapsed, 'glyphicon-chevron-down': !node.collapsed}"></i>
        </a>
        <!-- Node Title -->
        {{ node.title }}
        <!-- Drag Handle -->
        <span ui-tree-handle class="drag-handle">
          <i class="glyphicon glyphicon-move"></i>
        </span>
      </div>
      <ol ui-tree-nodes ng-model="node.children" ng-class="{collapsed: node.collapsed}">
        <li ng-repeat="childNode in node.children" ui-tree-node>
          <div class="tree-node">
            <a ng-click="$ctrl.toggle(childNode, $event)" class="btn btn-xs btn-default">
              <i class="glyphicon" ng-class="{'glyphicon-chevron-right': childNode.collapsed, 'glyphicon-chevron-down': !childNode.collapsed}"></i>
            </a>
            {{ childNode.title }}
            <span ui-tree-handle class="drag-handle">
              <i class="glyphicon glyphicon-move"></i>
            </span>
          </div>
          <ol ui-tree-nodes ng-model="childNode.children" ng-class="{collapsed: childNode.collapsed}">
            <li ng-repeat="subChildNode in childNode.children" ui-tree-node>
              <div class="tree-node">

                {{ subChildNode.title }}
                <span ui-tree-handle class="drag-handle">
                  <i class="glyphicon glyphicon-move"></i>
                </span>
              </div>
            </li>
          </ol>
        </li>
      </ol>
    </li>
  </ol>
</div>
